@page
@model ContactModel
@{
    ViewData["Title"] = "Kontakt";
    ViewData["Description"] = "Kontaktirajte nas putem email-*a ili kontakt forme i odgovorit ćemo u najkraćem mogućem roku";
    ViewData["Canon"] = "http://www.mevipharm.hr/Contact";
}

<div class="container-fluid p-0 m-0">
    <img src="~/img/contactBg.png" alt="Picture of hiker enjoying view on mountain" class="img-fluid img-about w-100 p-0" />
</div>
<div class="text-center container">
    <div class="col-12">
        <div class="green-box green-box-contact green-box-md green-box-lg green-box-xl green-bg">
            <h1>
                Kontakt
            </h1>
        </div>
    </div>
    <div class="row col-12 p-0 m-auto">
        <div class="card-body col-12 col-md-8 w-100">
            <div class="card">
                <div class="card-header green-bg text-white">
                    <i class="fa fa-envelope"></i> Kontaktirajte nas.
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="Name">Ime/Naziv:</label>
                            <input type="text" class="form-control" placeholder="Upišite ime/naziv" required name="Name" />
                        </div>
                        <div class="form-group">
                            <label for="Email">Email adresa:</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Upišite svoju email adresu" required name="Email" />
                            <small id="emailHelp" class="form-text text-muted">Vašu email adresu ne dijelimo i koristimo isključivo za povratni kontakt.</small>
                        </div>
                        <div class="form-group">
                            <label for="Message">Poruka:</label>
                            <textarea name="Message" class="form-control" id="message" rows="6" required></textarea>
                        </div>
                        <div class="mx-auto">
                            <input type="submit" class="btn green-bg text-right text-light" value="Pošalji" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body col-12 col-md-4 m-a">
            <div class="card bg-light mb-3">
                <div class="card-header green-bg text-white text-uppercase"><i class="fa fa-home"></i>Adresa</div>
                <div class="card-body">
                    <p>Hrgovići 47</p>
                    <p>10000 Zagreb</p>
                    <p>Croatia</p>
                    <p>Email : info@mevipharm.hr</p>
                    <p>Tel. +385 99 80 37 132</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.navbar-container-custom').removeClass('navbar-container-custom').addClass('no-border-nav');
            $('.main-container').removeClass('bg-image').addClass('bg-about');
        });
    </script>
}