@page
@model ContactSuccessModel
@{
    ViewData["Title"] = "Poruka poslana";
    ViewData["Canon"] = "http://www.mevipharm.hr/ContactSuccess";
}

<div class="container bg-about">
    <h3>Message sent</h3>
    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Return to Home page</a>
</div>