@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="col-12">
        <div class="green-box green-box-md green-box-lg green-box-xl">
            <p>
                MEVI Pharm ima misiju proizvodnje inovativnih<br />
                dodataka prehrani, korištenjem visokokvalitetnih sirovina s<br />
                ciljem poboljšanja kvalitete života.
            </p>
        </div>
    </div>
    <div class="col-12">
        <div class="transparent-box transparent-box-md transparent-box-lg">
            <p>
                Vođeni kreativnošću i novim<br />
                idejama, cilj nam je napraviti<br />
                razliku.
            </p>
        </div>
    </div>
</div>
