@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center container">
    <div class="col-12">
        <div class="green-box green-box-index green-box-md green-box-lg green-box-xl">
            <p>
                MEVI Pharm ima misiju proizvodnje inovativnih<br />
                dodataka prehrani, korištenjem visokokvalitetnih sirovina s<br />
                ciljem poboljšanja kvalitete života.
            </p>
        </div>
    </div>
    <div class="col-12">
        <div class="transparent-box transparent-box-index transparent-box-md transparent-box-lg">
            <p>
                Vođeni kreativnošću i novim<br />
                idejama, cilj nam je napraviti<br />
                razliku.
            </p>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.no-border-nav').removeClass('navbar-container-custom').addClass('navbar-container-custom');
            $('.main-container').removeClass('no-bg-image').addClass('bg-image');
        });
    </script>
}
