@page
@model ProductsModel
@{
    ViewData["Title"] = "Products";
}


<div class="container mt-5">
    <div class="row col-12 w-100 m-0 p-0">
        <div class="col-12 col-lg-7 align-content-center prod-img w-100 m-0 p-0">
            <img src="~/img/bottle.png" class="img-fluid" />
        </div>
        <div class="col-12 col-lg-4 text-center align-middle">
            <div class="prod-specs green-bg text-light">
                <p>1500&nbsp;IU&nbsp;Vitamin&nbsp;D3&nbsp;+&nbsp;vitamini&nbsp;i&nbsp;minerali</p>
            </div>
            <div class="prod-name">
                <div class="prod-name-box">
                    <span class="prod-onvit">OnVit</span><span class="prod-immune">immune&nbsp;support</span>
                </div>
            </div>
            <div class="prod" id="accordion">
                <div id="headingOne">
                    <div class="prod-edu text-dark" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <p><a>Edukacijski članci</a></p>
                    </div>
                </div>
                <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="">
                        <a asp-page="/Education/VaznostVitamina">Važnost vitamina i minerala<br />kod onkoloških bolesnika</a>
                        <hr class="w-50" />
                        <a asp-page="/Education/KoraciDoPlana">Kroz 4 koraka do plana prehrane</a>
                        <hr class="w-50" />
                    </div>
                </div>
            </div>
        </div>
        <div class="prod-second row col-12 w-100 mt-5">
            <div class="col-12 col-lg-6 green-bg text-center text-light w-100 p-3">
                <p>MEVI&nbsp;Pharm,&nbsp;u&nbsp;suradnji&nbsp;sa&nbsp;Capsumed&nbsp;Pharm</p>
                <p>AUSTRIJA,&nbsp;ima&nbsp;misiju&nbsp;proizvodnje&nbsp;inovativnih</p>
                <p>dodataka&nbsp;prehrani,&nbsp;korištenjem</p>
                <p>visokokvalitetnih&nbsp;sirovina&nbsp;s&nbsp;ciljem poboljšanja</p>
                <p>kvalitete&nbsp;života.</p>
            </div>
            <div class="col-12 col-lg-6 text-center w-100 pt-5">
                <p>OnVit&nbsp;immune&nbsp;support&nbsp;sadrži</p>
                <p>vitamine&nbsp;C,&nbsp;A,&nbsp;B6,&nbsp;B12,&nbsp;,D3,&nbsp;folnu&nbsp;kiselinu,željezo&nbsp;i&nbsp;cink&nbsp;</p>
                <p>koji,&nbsp;doprinose&nbsp;normalnoj&nbsp;funkciji</p>
                <p class="prod-p-green">IMUNOLOŠKOG&nbsp;SUSTAVA</p>
            </div>
            <div class="prod-specs-sm green-bg text-light text-center">
                <p>1500&nbsp;IU&nbsp;Vitamin&nbsp;D3&nbsp;+&nbsp;vitamini&nbsp;i&nbsp;minerali</p>
            </div>
        </div>
        <div class="row col-12 w-100 m-auto pt-5">
            <img src="~/img/productsThirdDiv.png" class="img-fluid" />
        </div>
        <div class="prod-fourth row col-12 mt-5 mb-5 w-100">
            <div class="col-12 col-lg-6 text-center w-100 pt-2 m-auto">
                <p>
                    OnVit&nbsp;immune&nbsp;support&nbsp;satrži&nbsp;60&nbsp;vege&nbsp;kapsula
                    Proizvod&nbsp;ne&nbsp;sadrži&nbsp;kvasac,&nbsp;soju,&nbsp;gluten&nbsp;niti&nbsp;mliječne
                    sastojke.
                    Također&nbsp;ne&nbsp;sadrži&nbsp;umjetne&nbsp;konzervanse,&nbsp;arome&nbsp;i&nbsp;bojila.
                </p>
            </div>
            <div class="col-12 col-lg-6 green-bg text-center text-light w-100 pt-2 mt-4">
                <p>
                    Sastojci: L-askorbinska kiselina, magnezijev oksid, željezov glukonat, emulgator:celuloza, cinkov
                    glukonat, selenom obogaćeni kvasci, D-alfa-tokoferol, kolekalciferol, Vitamin A acetat, piridoksin
                    hidroklorid, riboflavin, tiaminmononitrat, folna
                    kiselina, cijanokobalamin, biljna kapsula.
                </p>
                <p>Upute za upotrebu: popiti 2 kapsule dnevno uz obrok, s čašom vode.</p>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.navbar-container-custom').removeClass('navbar-container-custom').addClass('no-border-nav');
            $('.main-container').removeClass('bg-image').addClass('bg-about');
        });
    </script>
}
