@page
@model ProductsModel
@{
    ViewData["Title"] = "Products";
}

@{
//TODO Redesign to one column md or less, text becomes too small to read, split main div's in half
}
<div class="container">
    <div class="row col-12">        
        <div class="product-image col-12 col-lg-7 p-0">
            <img src="~/img/bottle.png" class="img-fluid" />
        </div>
        <div class="product-logo col-12 col-lg-4">
            <div class="product-specs product-specs-sm">
                <p>1500&nbsp;IU&nbsp;Vitamin&nbsp;D3&nbsp;+&nbsp;vitamini&nbsp;i&nbsp;minerali</p>
            </div>
            <div class="product-title">
                <span class="onvit">On&nbsp;Vit</span><span class="immune">immune&nbsp;support</span>
            </div>
            <div class="product-education">
                <p>Edukacijski&nbsp;članak</p>
            </div>
        </div>
    </div>
    <div class="row col-12" style="height:500px;">
        @{ //<img src="~/img/productsMiddleDiv.png" class="img-fluid" /> 
        }
    </div>
    <div class="row col-12" style="height:500px;">
        @{ //<img src="~/img/productsMiddle2Div.png" />
        }
    </div>
    <div class="row col-12" style="height:500px;">
        @{ //<img src="~/img/productsBottomDiv.png" />
        }
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.navbar-container-custom').removeClass('navbar-container-custom').addClass('no-border-nav');
            $('.main-container').removeClass('bg-image').addClass('bg-about');
        });
    </script>
}