@page
@model MeviPharm.Pages.Education.CijeljenjeRanaModel
@{
    ViewData["Title"] = "Važnost mikronutrijenata";
    ViewData["Description"] = "Članak o važnosti mikronutrijenata i kako kroz četiri koraka doći do plana prehrane";
    ViewData["Canon"] = "https://www.mevipharm.hr/Education/CijeljenjeRana";
}
<div class="container">
    <div class="edu-article p-2 text-justify">
        <div class="edu-naslovna w-100 col-12 row mb-5 ml-1 mr-1 p-0">
            <div class="edu-green-box-cijeljenje text-left">
                <h1>Važnost vitamina i minerala u CIJELJENJU RANA</h1>
            </div>
            <div class="edu-naslovna-img-cijeljenje">
                <img src="~/img/cijeljenjeRana.png" alt="Picture of two families walking in park" class="img-fluid" />
            </div>
        </div>
        <div class="row edu-article-cijeljenje">
            <div class="col-12 col-lg-5 edu-article-cijeljenje-lijevi-box">
                <p>
                    Pothranjenost je čest faktor rizika koji može
                    doprinijeti slabijem zacjeljivanju rana<sup>1</sup>.
                </p>
                <p>
                    Kod starijih ljudi, koji su pod najvećim rizikom od
                    kroničnih rana i zbog postojećih bolesti, pothranjenost se često sastoji ili od proteinske energetske pothranjenosti ili od specifičnog nedostatka vitamina i minerala<sup>2</sup>.<br />
                </p>
                <p>
                    Zacjeljivanje rana i regeneracija tkiva su procesi koji ovise o adekvatnom unosu mikronutrijenata.
                </p>
                <div class="col-12 edu-article-cijeljenje-inner edu-inner-left">
                    <p>
                        Zacjeljivanje rana i regeneracija tkiva su<br />
                        procesi koji ovise o adekvatnom unosu<br />
                        mikronutrijenata.
                    </p>
                </div>
                <p>
                    Zacjeljivanje rana, bilo od slučajne ozljede ili
                    kirurške intervencije, uključuje aktivnost zamršene mreže krvnih stanica, tipova tkiva, citokina i čimbenika rasta.
                    To rezultira povećanom staničnom aktivnošću, što
                    uzrokuje pojačanu metaboličku potrebu za hranjivim tvarima.
                </p>
                <p>
                    Manjak nutrijenata može usporiti zacjeljivanje rana, a nekoliko nutritivnih faktora potrebnih za cijeljenje rana može
                    poboljšati vrijeme zarastanja i ishod zacjeljivanja<sup>3</sup>.
                </p>
            </div>
            <div class="col-12 col-lg-2 m-0"></div>
            <div class="col-12 col-lg-5 edu-article-cijeljenje-desni-box">
                <div class="col-12 edu-article-cijeljenje-inner edu-inner-right">
                    <p>Kod:</p>
                    <p>
                        -Kirurških zahvata<br />
                        -Stomatoloških zahvata<br />
                        -Opeklina<br />
                        -Kroničnih rana
                    </p>
                </div>
                <p>
                    Oksidativni stres važan je čimbenik povezan sa stresom nakon kiruskih zahvata i postoperativni oporavak<sup>4</sup>.
                </p>
                <p>
                    Oksidativni stres (OS) je neravnoteža između
                    stvaranja slobodnih radikala i antioksidativnih
                    obrambenih mehanizama<sup>5</sup>.
                </p>
                <p>
                    Oksidativni stres, iako je vitalan za pokretanje
                    imunološkog odgovora, može uzrokovati značajno
                    stanično oštećenje, što može biti štetno za zacjeljivanje rana. Svaka značajna rana dovodi do hipermetaboličkog i kataboličkog stanja,
                    a nutritivne potrebe značajno se povećavaju<sup>6</sup>.
                </p>
                <p>
                    Imunološki sustav igra glavnu ulogu u procesu
                    zacjeljivanju tkiva<sup>7</sup>.
                </p>
                <div class="col-12 edu-article-cijeljenje-inner edu-inner-left">
                    <p>
                        Imunološki sustav igra glavnu<br />
                        ulogu u procesu zacjeljivanja<br />
                        tkiva.
                    </p>
                </div>
            </div>
            <div class="col-12 edu-article-wide">
                <p>
                    <span class="text-roze">VITAMIN A</span> je odgovoran za održavanje epitela te također potiče staničnu diferencijaciju u fibroblastima i
                    stvaranje kolagena. Manjak vitamina A može rezultirati odgođenim zacjeljivanjem rana i povećanom
                    osjetljivošću na infekcije8. Vitamin A blagotvorno djeluje na ranu pojačavajući ranu upalnu fazu, uključujući povećanje broja
                    monocita i makrofaga na mjestu rane, moduliranje aktivnosti kolagenaze, podržavanje diferencijacije epitelnih stanica i
                    poboljšanje lokalizacije i stimulacije imunološkog odgovora<sup>3</sup>.
                </p>

                <p>
                    <span class="text-roze">CINK</span> je kofaktor stvaranja kolagena, također metabolizira proteine, oslobađa vitamin A iz skladištenja u jetri i
                    pomaže u imunološkoj funkciji. Rane s povećanom drenažom, prekomjerni gubici u probavnom sustavu ili
                    nedovoljni unos putem hrane tijekom dužih razdoblja mogu uzrokovati nedostatak cinka8. Cink je ključan za
                    replikaciju DNK u stanicama s visokim postotkom diobe stanica, kao što su upalne i epitelne stanice i fibroblasti.
                    U upalnoj fazi cink potiče imunološki odgovor i suprotstavlja se osjetljivosti na infektivne komplikacije aktiviranjem
                    limfocita i stvaranjem protutijela9. Cink je esencijalni mineral u tragovima za sintezu DNA, staničnu diobu i sintezu
                    proteina, svih potrebnih procesa za regeneraciju i obnavljanje tkiva<sup>3</sup>.
                </p>

                <p><span class="text-roze">SELEN</span> - Antioksidativna svojstva selena pogoduju zacjeljivanju rana<sup>10</sup>.</p>

                <p>
                    <span class="text-roze">BROMELAIN</span> - smanjuje edeme, modrice, bol i vrijeme ozdravljenja nakon traume i operativnih
                    zahvata<sup>3</sup>.
                </p>

                <p>
                    <span class="text-roze">Vitamin C</span> potreban je za stvaranje kolagena, pravilno funkcioniranje imunološkog sustava i kao tkivni
                    antioksidans<sup>3</sup>. Manjak vitamina C produžuje vrijeme ozdravljenja i doprinosi smanjenoj otpornosti na
                    infekcije8. Čini se da vitamin C sudjeluje u zacjeljivanju rana s nekoliko uloga u staničnoj migraciji i transformaciji,
                    sintezi kolagena, antioksidacijskom odgovoru i angiogenezi. U upalnoj fazi sudjeluje u regrutiranju stanica u ranu i
                    njihovoj transformaciji u makrofage. Tijekom sinteze kolagena, vitamin C stvara dodatne veze između kolagenih
                    vlakana koje povećavaju stabilnost i čvrstoću matrice kolagena<sup>1</sup>.
                </p>

                <p>
                    <span class="text-roze">Vitamini B skupine</span> - Koenzimi (vitamini skupine B) neophodni su za proizvodnju energije iz glukoze,
                    aminokiselina i masti<sup>8</sup>. Vitamini skupine B, koji se sastoje od tiamina, riboflavina, piridoksina, folne kiseline,
                    pantotenata i kobalamina, ključni su kofaktori u enzimskim reakcijama uključenim u stvaranje leukocita i u anaboličkim procesima
                    zarastanja rana<sup>11</sup>. Dakle, nedostatak vitamina B neizravno utječe na proces zacjeljivanja rana ometajući proizvodnju antitijela
                    i funkciju bijelih krvnih zrnaca te povećava rizik od infektivnih komplikacija<sup>12</sup>.
                </p>

                <p>
                    <span class="text-roze">Bakar</span> je odgovoran za umrežavanje kolagena i eritropoezu<sup>8</sup>. Bakar je esencijalni mineral koji ima ključnu ulogu u mnogim
                    fiziološkim i metaboličkim procesima, uključujući angiogenezu, stvaranje kože te ekspresiju i stabilizaciju
                    izvanstaničnih proteina kože<sup>13</sup>.
                </p>

                <p>
                    <span class="text-roze">Željezo</span> je sastavni dio hemoglobina, proteina crvenih krvnih zrnaca koji prenosi kisik, i neophodan je
                    za transport kolagena i za stvaranje energije iz stanica<sup>8</sup>.
                </p>
            </div>
            <div class="col-12 bg-roze mt-5 mb-5 pt-5 pb-5 pl-3 pl-3 edu-cijeljenje-bottom">
                <p>
                    Reference:
                    1.Barchitta M,et al., Nutrition and Wound Healing: An Overview Focusing on the Beneficial Effects of Curcumin (Review).
                    International Journal of Molecular Sciences 2019.,20,1119<br />
                    2.Harris, C.L.; Fraser, C. Malnutrition in the institutionalized elderly: The effects on wound healing.
                    Ostomy Wound Manag. 2004, 50, 54–63.<br />
                    3.MacKay Douglas, Miller Alan L.,Nutritional support for wound healing.Altern Med Rev. 2003 Nov;8(4):359-77<br />
                    4.Tsuchiya M, et al., Reduction of oxidative stress a key for enhanced postoperative recovery with fewer
                    complications in esophageal surgery patient. Medicine (Baltimore). 2018 Nov; 97(47)
                    5.Cabello-Verrugio C., et al., Oxidative Stress in Disease and Aging: Mechanisms and Therapies 2016.
                    Oxidative Medicine and Cellular Longevity (2016),
                    <a href="https://doi.org/10.1155/2016/8786564">https://doi.org/10.1155/2016/8786564</a><br />
                    6.Guo S., DiPietro L.A., Factors Affecting Wound Healing. Journal of Dental Research 2010; Mar; 89(3): 219–229.<br />
                    7.Larouche J. et al., Immune Regulation of Skin Wound Healing: Mechanisms and Novel Therapeutic Targets.
                    Advances in Wound Care (New Rochelle). 2018 Jul 1; 7(7): 209–231.<br />
                    8.Posthauer M.A., Dorner B., Collins N. Nutrition: a critical component
                    of wound healing. Advance in skin wound care. 2010 Dec;23(12):560-72.<br />
                    9.Todorovic V. Food and wounds: Nutritional factors in wound formation and healing. Br. J. Community Nurs. 2002;7:43–54.<br />
                    10.Chow Oliver and Barbul Adrian, Immunonutrition: Role in Wound Healing and Tissue Regeneration. Advances in wound care
                    (New Rochelle). 2014 Jan 1; 3(1): 46–53.<br />
                    11.Russell L. The importance of patient’s nutritional status in wound healing. Br. J. Nurs. 2001;10:S42–S49.<br />
                    12.Williams J.Z., Barbul A. Nutrition and wound healing. Crit. Care Nurs. Clin. N. Am. 2012;24:179–200<br />
                    13.Borkow G. Using Copper to Improve the Well-Being of the Skin. Current Chemical Biology. 2014 Aug; 8(2): 89–102.
                </p>
            </div>
            <div class="edu-white-bottom col-12 col-lg-5 text-center mb-1">
                <p>Edukacijski članak za zdravstvene djelatnike</p>
                <p>Napomena: Važno je konzultirati se s liječnikom prije uzimanja dodataka prehrani</p>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.navbar-container-custom').removeClass('navbar-container-custom').addClass('no-border-nav');
            $('.main-container').removeClass('bg-image').addClass('bg-about');
            $('.footer').removeClass('border-top-on').addClass(' border-top-op');
        });
    </script>
}