@page
@model VaznostVitaminaModel
@{
    ViewData["Title"] = "Važnost vitamina";
}

<div class="container mt-5">
    <div class="edu-naslovna w-100 col-12">
        <img src="~/img/vaznostVitamina.png" alt="Picture of two persons holding hands" class="img-fluid" />
    </div>
    <div class="edu-green-box text-center col-12">
        Pothranjenost&nbsp;mnogih&nbsp;onkoloških&nbsp;<br />
        bolesnika&nbsp;nije&nbsp;ograničena&nbsp;samo&nbsp;na<br />
        makronutrijente,&nbsp;već&nbsp;je&nbsp;i&nbsp;unos&nbsp;raznih<br />
        vitamina&nbsp;i&nbsp;minerala&nbsp;često<br />
        neadekvatan
    </div>
    <div class="edu-article p-2 text-justify">
        <div class="edu-title col-lg-8 col-12">
            <h3 class="text-left">
                VAŽNOST VITAMINA I MINERALA<br />
                KOD ONKOLOŠKIH BOLESNIKA
            </h3>
        </div>
        <p>
            Tijekom bolesti, mnogi onkološki bolesnici razviju tumorsku pothranjenost uzrokovanu nedovoljnim unosom makro i mikronutrijenata.
            Pothranjenost mnogih onkoloških bolesnika nije ograničena samo na makronutrijente, već je i unos raznih vitamina i minerala često neadekvatan&sup1;.
        </p>
        <p>
            U svim oblicima pothranjenosti postoji rizik od nedostatka mikronutrijenata, osobito, ali ne isključivo, vitamina topivih u vodi&sup2;.
            Neadekvatan nutritivni status te posljedična tumorska kaheksija i anoreksija su klinički značajne ne samo zbog smanjenog odgovora na antineoplastične
            postupke, poput zračenja i kemoterapije, već i pogoršavaju njihove nuspojave i negativno utječu na kvalitetu života i ishod liječenja&sup1;.
        </p>
        <p>
            Prema smjernicama Europskog društva za kliničku prehranu i metabolizam (ESPEN) o enteralnoj prehrani, može se pretpostaviti da svi onkološki
            bolesnici koji konzumiraju manje od 60% njihove dnevne potrebe za energijom, dulje od 7–10 dana, imaju nedovoljan unos mikronutrijenata3.
            Gubitak apetita i averzija prema određenoj hrani kao rezultat anoreksije također doprinose njihovom manjku&sup3;. To se posebno odnosi na one koji prolaze
            kemoterapiju i zračenje, budući da naglo gube mikronutrijente zbog povraćanja i proljeva&sup1;.

        </p>
        <p>
            Oštećenja sluznice izazvana kemoterapijom i zračenjem (npr. radijacijski kolitis i proljev) štetno utječu na apsorpciju hranjivih tvari
            (npr. folna kiselina, vitamin B12) i mogu uzrokovati velike gubitke mikronutrijenata&sup3;.
        </p>
        <p>
            Štetni učinci kemoterapije ili zračenja (npr. povraćanje, proljev, promjene okusa) i upalni procesi mogu povećati potrebe za mikronutrijentima<sup>4</sup>.
        </p>
        <div class="edu-green-box edu-green-box-mid text-center">
            Nedovoljan&nbsp;unos&nbsp;vitamina&nbsp;i&nbsp;minerala<br />
            ima&nbsp;negativan&nbsp;utjecaj&nbsp;na&nbsp;imunološku<br />
            obranu&nbsp;onkoloških&nbsp;bolesnika
        </div>
        <p>
            Takav manjak mikronutrijenata uzrokovan tumorskom bolešću od velikog je značaja: Prvo, on kompromitira zacjeljivanje rana, tako da
            postoji veći rizik od komplikacija nakon kirurških intervencija. Drugo, smanjeni unos mikronutrijenata,
            posebno nekih B vitamina, povezan je s većim rizikom od depresivnih simptoma. Treće, čak i umjereni nedostatak
            mikronutrijenata će ugroziti imunološku funkciju organizma, kao što su
            imunološke stanice, koje će zbog visoke stope proliferacije, imati povećanu potrebu za hranjivim tvarima.
            Stoga nedovoljan unos vitamina i minerala ima negativan utjecaj na imunološku obranu onkoloških bolesnika&sup1;.

        </p>
        <p>
            Američki institut za istraživanje raka (AICR) preporučuje da onkološki bolesnici koji sudjeluju u liječenju kemoterapijom- i / ili zračenjem
            ne bi trebali uzimati vitaminsko - mineralne dodatke koji sadrže antioksidanse u dnevnoj dozi višoj od najviše dopuštene razine unosa vitamina i
            minerala (UL)&sup3;. UL (Tolerable Upper Intake Level) je najviši dnevni unos hranjive tvari za koji je vjerojatno da ne predstavlja rizik od
            toksičnosti za gotovo sve pojedince.
        </p>
        <p>
            Na uspjeh procesa liječenja i ozdravljenja kod onkoloških bolesnika uvelike utječe njihov nutiritvni status.
            Na pothranjenost ne utječu samomakronutrijenti koji opskrbljuju energijom (ugljikohidrati, proteini,i masti),
            već i biokatalizirajući i imunomodulirajući mikronutrijenti&sup3;. Važnost mikronutrijenata u sklopu suportivne nutritivne
            terapije je potvrđena rezultatima ispitivanja koji pokazuju da se unosom
            vitaminsko - mineralnih dodataka može poboljšati kako kvaliteta života tako i ishod liječenja onkoloških bolesnika&sup1;.
        </p>
        <div class="row col-12 mt-5 m-auto w-100 p-0">
            <div class="edu-green-bottom col-12 col-lg-5 text-justify mb-1">
                Reference:<br />
                1.Ströhle, Alexander, Kurt Zänker, and Andreas Hahn. Nutrition in oncology: the case of micronutrients (Review).
                Oncology Reports 2010; 24(4): 815-828.<br />
                2.Arends J, et al.,ESPEN guidelines on nutrition in cancer patients, Clinical Nutrition (2016),
                http://dx.doi.org/10.1016/j.clnu.2016.07.015<br />
                3.Gröber U, Holzhauer P, Kisters K, Holick MF, Adamietz IA. Micronutrients in oncological intervention. Nutrients. 2016;8(3):163.<br />
                4.Gröber U. Antioxidants and Other Micronutrients in Complementary Oncology. Breast Care (Basel) 2009; 4(1): 13-20.<br />
            </div>
            <div class="col-2"></div>
            <div class="edu-white-bottom col-12 col-lg-5 text-center mb-1 m-auto">
                <p>Edukacijski članak za zdravstvene djelatnike</p>
                <p>Napomena: Važno je konzultirati se s liječnikom prije uzimanja dodataka prehrani</p>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.navbar-container-custom').removeClass('navbar-container-custom').addClass('no-border-nav');
            $('.main-container').removeClass('bg-image').addClass('bg-about');
        });
    </script>
}