<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MeviPharm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid main-container bg-image p-0 m-0">
        <div class="container">
            <nav class="navbar navbar-expand-lg p-sm-2 navbar-light bg-white mb-3 bg-transparent">
                <div class="container navbar-container-custom">
                    <button class="navbar-toggler navbar-toggler-custom" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <img src="~/img/logoTranspBg.png" class="img img-logo" />
                    </button>
                    <div class="navbar-collapse navbar-collapse-custom collapse d-lg-inline-flex flex-sm-row-reverse">
                        <!-- <partial name="_LoginPartial" /> -->
                        <img src="~/img/logoTranspBg.png" class="img img-logo d-none d-lg-block" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/AboutUs">O&nbsp;Nama</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Products">Proizvodi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Kontakt</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <main role="main" class="m-0 p-0">
            @RenderBody()
        </main>
    </div>
    <footer class="footer footer-custom">
        <div class="container p-0">
            <div class="row text-center m-auto">
                <div class="col-12 col-md-4 footer-logo">
                    <img src="~/img/logoTranspFoot.png" class="img-fluid" />
                    <p>Devoted to improving people&acute;s lives</p>
                </div>
                <div class="col-12 col-md-4 mt-4">
                    <p>MEVI Pharm d.o.o.</p>
                    <p>Hrgovići 47</p>
                    <p>10000 Zagreb - Croatia</p>
                </div>
                <div class="col-12 col-md-4 mt-4 contact-info">
                    <p>Tel.: + 385 9 80 37 132</p>
                    <p>Email: <a href="mailto:info@mevipharm.hr">info@mevipharm.hr</a></p>
                </div>
            </div>
        </div>
        <div class="container align-content-center">

        </div>
    </footer>

    <partial name="_CookieConsentPartial" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>