@page
@model MeviPharm.Pages.Products.OpVitModel
@{
    ViewData["Title"] = "Proizvodi - OnVit immune support";
    ViewData["Description"] = "Novi proizvod na tržištu OpVit 60 kapsula, proizveden u suradnji sa Capsumed Pharm Austria.";
    ViewData["Canon"] = "https://www.mevipharm.hr/Products/OpVit";
}

<div class="container-fluid p-0 m-0">
    <div class="text-center">
        <img src="~/img/opVitBg.png" alt="Picture of woman running with scarf on blue background" class="w-100 p-0 mt-5 onvit-img-lg" />
        <img src="~/img/opVitBgSm.png" alt="Picture of woman running with scarf on blue background" class="p-0 mt-5 onvit-img-sm" />
    </div>
    <div class="prod-name-box">
        <h1 class="prod-onvit">OpVit</h1>
        <h2 class="prod-immune-op">immune support</h2>
    </div>
</div>
<div id="accordion" class="prod-button">
    <div class="card">
        <div class="card-header bg-roze text-light" id="headingOne">
            <h5 class="mb-0">
                <a class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Edukacijski članci
                </a>
            </h5>
        </div>

        <div id="collapseOne" class="collapse hide bg-roze" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <a href="/Education/CijeljenjeRana">Važnost vitamina i minerala<br /> u CIJELJENJU RANA</a>
                <hr class="w-50" />
            </div>
        </div>
    </div>
</div>
<div class="container mb-5 mt-0 pb-5">
    <div class="row w-100 m-0 p-0">
        <div class="col-12 col-lg">
            <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="3000">
                        <img src="~/img/bocicaOpVit.png" class="d-block w-100" alt="OnVit bottle image">
                    </div>
                    <div class="carousel-item"  data-interval="3000">
                        <img src="~/img/kutijicaOpVit.png" class="d-block w-100" alt="OnVit box image">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg">
            <div class="bg-roze green-box-onvit green-box-opvit-padding text-light text-center">
                <p>
                    ZA IMUNITET, ANTIOKSIDANS – ZAŠTITA
                    OD OKSIDATIVNOG STRESA<br /><br />
                    Sadrži bakar, cink, folnu kiselinu, selen, vitamine
                    C, A i B12 te željezo koji doprinose normalnoj
                    funkciji IMUNOLOŠKOG SUSTAVA<br /><br />
                    Sadrži bakar, cink, selen, vitamin C i B2 koji
                    doprinose zaštiti stanica od OKSIDATIVNOG
                    STRESA.
                </p>
            </div>
        </div>
        <div class="col-12 col-lg text-center">
            <p class="m-0">
                Sastojci u preporučenoj dnevnoj dozi (=2 kapsule):
            </p>
            <table class="sastav border-roze w-100">
                <tr>
                    <td>Vitamin C</td>
                    <td>500 mg</td>
                    <td>625 % PU*</td>
                </tr>
                <tr>
                    <td>Bromelain</td>
                    <td>500 mg</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Željezo</td>
                    <td>14 mg</td>
                    <td>100 % PU*</td>
                </tr>
                <tr>
                    <td>Cink</td>
                    <td>15 mg</td>
                    <td>100 % PU*</td>
                </tr>
                <tr>
                    <td>Selen</td>
                    <td>55 &micro;g</td>
                    <td>100 % PU*</td>
                </tr>
                <tr>
                    <td>Vitamin A</td>
                    <td>1500 &micro;g</td>
                    <td>188 % PU*</td>
                </tr>
                <tr>
                    <td>Vitamin B6</td>
                    <td>4,2 mg</td>
                    <td>300 % PU*</td>
                </tr>
                <tr>
                    <td>Vitamin B2</td>
                    <td>4,2 mg</td>
                    <td>300 % PU*</td>
                </tr>
                <tr>
                    <td>Vitamin B1</td>
                    <td>3,3 mg</td>
                    <td>300 % PU*</td>
                </tr>
                <tr>
                    <td>Bakar</td>
                    <td>1 mg</td>
                    <td>100 % PU*</td>
                </tr>
                <tr>
                    <td>Folna kiselina</td>
                    <td>400 &micro;g</td>
                    <td>200 % PU*</td>
                </tr>
                <tr>
                    <td>Biotin</td>
                    <td>150 &micro;g</td>
                    <td>300 % PU*</td>
                </tr>
                <tr>
                    <td>Vitamin B12</td>
                    <td>7,5 &micro;g</td>
                    <td>300 % PU*</td>
                </tr>
            </table>
            <p class="m-0">*PU = preporučeni unos</p>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.navbar-container-custom').removeClass('navbar-container-custom').addClass('no-border-nav');
            $('.main-container').removeClass('bg-image').addClass('bg-about');
            $('.footer').removeClass('border-top-on').addClass(' border-top-op');
        });
    </script>
}