/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 0px;
}

/* Footer
-------------------------------------------------- */
.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    background-color: #e5e5e5;
    position: relative;
}

.footer-custom p {
    line-height: 10px;
    font-family: Verdana;
    font-size: 0.8em;
    margin-right: 6%;
}

.contact-info {
    color: #9ac75e;
}

.footer-logo {
    margin-top: 1%;
}

    .footer-logo p {
        font-size: 0.85em;
    }

/* Background image
-------------------------------------------------- */
.bg-image {
    background-image: url("../img/naslovna-bg.jpg");
    background-size: cover;
    background-position: right bottom;
    min-height: 2000px;
}

@media only screen and (max-width: 1960px) {
    .bg-image {
        min-height: 900px;
    }
}

@media only screen and (max-width: 1290px) {
    .bg-image {
        min-height: 800px;
    }
}

/* Navigation
-------------------------------------------------- */
.navbar-container-custom {
    border-bottom: 3px solid #9ac75e;
}

.navbar-collapse-custom {
    margin-bottom: -3%;
}

@media only screen and (max-width: 992px) {
    .navbar-collapse-custom {
        margin-bottom: 0%;
    }
}

.img-logo {
    max-width: 50%;
}

.navbar button {
    outline: none;
    border: none;
    width: 100%;
}

.navbar ul li {
    font-family: Verdana;
    font-size: 1.1em;
    margin-right: 7%;
}

/* Green-box
-------------------------------------------------- */

.green-bg {
    background-color: #9ac75e;
}

.green-box {
    height: 50%;
    width: 50%;
    padding: 8% 4% 8% 4%;
    color: #fff;
}

    .green-box p {
        font-family: Verdana;
        font-size: 1em;
        margin: auto;
        line-height: 1.5em;
        margin-bottom: 2%;
    }

    .green-box h1 {
        font-family: Verdana;
        font-size: 1em;
        font-weight: 400;
    }

@media only screen and (max-width: 768px) {
    .green-box-md {
        width: 100%;
        margin-left: 0%;
    }

        .green-box-md p {
            line-height: 1.5em;
        }
}

@media only screen and (max-width: 992px) {
    .green-box-lg {
        width: 90%;
        margin-left: 3%;
        line-height: 1.5em;
    }
}

@media only screen and (max-width: 1290px) {
    .green-box-xl {
        margin-top: 10%;
    }
}

.headline h1, .headline p {
    display: inline;
    vertical-align: top;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    line-height: 1em;
}

/* Transparent-box
-------------------------------------------------- */

.transparent-box p {
    font-family: Verdana;
    font-size: 1em;
    margin-right: 7%;
    line-height: 1.5em;
}

.transparent-box {
    border: 1px solid #000;
    height: 40%;
    width: 40%;
    padding: 8% 4% 8% 4%;
    color: #000;
    margin-bottom: 3%;
}

@media only screen and (max-width: 768px) {
    .transparent-box-md {
        width: 100%;
        margin-left: 0%;
    }

        .transparent-box-md p {
            line-height: 1.5em;
        }
}

@media only screen and (max-width: 992px) {
    .transparent-box-lg {
        width: 90%;
        margin-left: 3%;
        margin-top: 3%;
        background: rgba(255,255,255,0.4);
        line-height: 1em;
    }
}

/* Index page
-------------------------------------------------- */

@media only screen and (min-width: 992px) {
    .transparent-box-index {
        margin-top: -3%;
        margin-left: 30%;
    }
}

@media only screen and (min-width: 992px) {
    .green-box-index {
        margin-top: 10%;
        margin-left: 5%;
    }
}

/* About Us page
-------------------------------------------------- */

@media only screen and (min-width: 992px) {
    .green-box-about {
        padding: 7% 5% 7% 5%;
        margin-top: 15%;
        margin-left: 50%;
        width: 35%;
    }

        .green-box-about p {
            line-height: 1.5em;
        }
}

@media only screen and (min-width: 992px) {
    .transparent-box-about {
        padding: 5% 3% 5% 3%;
        margin-top: -5%;
        margin-bottom: 5%;
        margin-left: 5%;
        width: 50%;
    }

        .transparent-box-about p {
            line-height: 1.5em;
        }
}

.bg-about {
    background-color: #fff;
}

.img-about {
    margin-top: 3%;
    margin-bottom: -15%;
    display: block;
}

@media only screen and (max-width: 992px) {
    .img-about {
        margin-bottom: 2%;
    }
}

/* Contact page
-------------------------------------------------- */

.green-box-contact {
    padding: 2%;
    margin-top: 5%;
    margin: auto;
    width: 50%;
}

@media only screen and (min-width: 992px) {
    .green-box-contact {
        padding: 7% 5% 7% 5%;
        margin-top: 15%;
        margin-left: 10%;
        width: 25%;
    }

        .green-box-contact p {
            line-height: 1.5em;
        }
}

/* Products page
-------------------------------------------------- */
/* Top section
--------------------- */

.prod-img {
    border: 3px solid #9ac75e;
    width: 100%;
}

    .prod-img img {
        margin-left: 0% auto;
    }

@media only screen and (min-width: 992px) {
    .prod-img img {
        margin-left: 15%;
    }
}

.green-box-onvit-padding {
    padding: 20% 0% 0% 0%;
}

.green-box-opvit-padding {
    padding: 10% 0% 0% 0%;
}

.green-box-onvit {
    width: 100%;
    height: 90%;
    font-weight: 400;
    font-size: 1.5em;
    margin-top: 5%;
    margin-bottom: 25%;
}

.prod-specs {
    margin-top: 2%;
    margin-left: auto;
    width: 100%;
    height: 30%;
    padding-top: 2%;
    font-weight: 600;
    visibility: hidden;
}

.prod-specs-sm {
    margin-top: 4%;
    margin-left: auto;
    width: 100%;
    height: 30%;
    padding-top: 2%;
    font-weight: 600;
    visibility: visible;
}

@media only screen and (min-width: 992px) {
    .prod-specs {
        margin-top: 20%;
        margin-left: -35%;
        width: 130%;
        height: 15%;
        padding-top: 5%;
        font-weight: 600;
        visibility: visible;
    }

    .prod-specs-sm {
        visibility: hidden;
    }

    .green-box-onvit-padding {
        padding: 37% 0% 0% 0%;
    }

    .green-box-opvit-padding {
        padding: 25% 0% 0% 0%;
    }
    
    .green-box-onvit {
        width: 100%;
        height: 90%;
        font-weight: 400;
        font-size: 1em;
        margin-top: 5%;
        margin-bottom: 0%;
    }
}

.prod-name {
    margin-top: 2%;
    height: auto;
    margin-left: auto;
    width: 100%;
    margin-top: -9%;
}

.prod-name-box {
    margin-top: -50%;
    margin-bottom: 30%;
    text-align: center;
}

.prod-onvit {
    font-weight: 600;
    font-size: 10vmin;
}

.prod-immune {
    color: #9ac75e;
    font-size: 0.6em;
    font-size: 1em;
}

.prod-immune-op {
    color: #f10685;
    font-size: 0.6em;
    font-size: 1em;
}

.onvit-img-sm {
    display: normal;
    width: 98%;
}

.border-green {
    border: 2px solid #9ac75e;
}

.border-roze {
    border: 2px solid #f10685;
}

.sastav {
    margin: 0px auto;
    font-size: 2vmax;
}

@media only screen and (max-width: 992px) {
    .onvit-img-lg {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .prod-name {
        background-color: #fff;
        height: 6em;
        width: 130%;
        margin-bottom: 20%;
        margin-top: 0;
    }

    .prod-name-box {
        margin-left: -50%;
        margin-top: -17%;
        margin-bottom: 12%;
        text-align: center;
    }

    .prod-onvit {
        font-weight: 400;
        font-size: 3.3vmax;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .prod-immune {
        color: #9ac75e;
        font-size: 1.8vmax;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .prod-immune-op {
        color: #f10685;
        font-size: 1.8vmax;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .onvit-img-lg {
        display: normal;
    }

    .onvit-img-sm {
        display: none;
    }

    .sastav {
        font-size: 0.8vmax;
    }
}

.prod-button {
    width: 80%;
    margin: 0px auto;
    text-align:center;
    margin-top: -5%;
    margin-bottom: 5%;
}

.bg-roze {
    background-color: #f10685;
}

.prod-button a, a:hover, a:visited {
    text-decoration: none;
    color: #fff;
}

@media only screen and (min-width: 992px) {
    .prod-button {
        width: 15%;
    }
}

/* Second section
--------------------- */

.prod-second {
    font-weight: 600;
    margin: auto;
}

    .prod-second a, .prod-second a:hover, .prod-second a:visited {
        color: #fff;
    }

.prod-p-green {
    color: #9ac75e;
    font-size: 1.2em;
}

.border-bottom-op {
    border-bottom: 3px solid #f10685;
}

.border-bottom-on {
    border-bottom: 3px solid #9ac75e;
}
/* Third section
--------------------- */
/* Fourth section
--------------------- */
.prod-fourth {
    font-weight: 600;
    margin: auto;
}

/* Education page
-------------------------------------------------- */

.edu-naslovna-img {
    margin-left: 0;
    width: 100%;
}

.edu-number {
    font-size: 3em;
    font-family: Arial;
    float: left;
    margin-right: 0%;
}

.edu-behind-number {
    font-size: 1em;
    font-weight: 400;
    float: left;
    margin-top: 4%;
    margin-left: 2%;
}

.edu-green-box-4 {
    width: 100%;
    height: 50%;
    color: #fff;
    padding: 4% 0% 4% 2%;
    font-weight: 600;
    background-color: #9ac75e;
    margin-top: 15%;
    z-index: 1;
}

@media only screen and (min-width: 992px) {
    .edu-naslovna-img {
        margin-left: 25%;
        margin-top: -40%;
    }

    .edu-number {
        font-size: 8em;
        font-family: Arial;
        float: left;
        margin-right: 2%;
    }

    .edu-behind-number {
        font-size: 1.2em;
        float: left;
        margin-top: 20%;
        margin-left: 5%;
    }

    .edu-green-box-4 {
        width: 37%;
        height: 50%;
        color: #fff;
        padding: 4% 0% 4% 2%;
        background-color: #9ac75e;
        margin-top: 15%;
        z-index: 1;
    }
}

.edu-green-box {
    width: 93%;
    height: 50%;
    color: #fff;
    padding: 4% 2% 4% 2%;
    font-weight: 600;
    background-color: #9ac75e;
    margin: auto;
    margin-top: 1%;
}

.edu-green-box-mid {
    width: 93%;
}

@media only screen and (min-width: 992px) {
    .edu-green-box {
        width: 30%;
        margin-top: -16%;
        margin-left: 60%;
    }

    .edu-green-box-mid {
        width: 50%;
    }
}

.edu-title {
    margin-top: 2%;
    padding-top: 3%;
    margin-bottom: 2%;
}

@media only screen and (min-width: 992px) {
    .edu-title {
        margin-top: -5%;
    }
}

.edu-article {
    margin-bottom: 5%;
    font-family: Verdana;
}

    .edu-article h1 {
        font-size: 1.7em;
    }

    .edu-article .edu-green-box {
        margin-top: 5%;
        margin-left: auto;
        margin-bottom: 5%;
    }

.edu-green-bottom {
    width: 100%;
    font-size: 0.8em;
    background-color: #9ac75e;
    color: #fff;
}

.edu-white-bottom {
    width: 100%;
    border: 1px solid #000;
    padding-top: 5%;
}

/*Cookie notice
-------------------------------------------------------------------------------*/

.alert-cookie {
    background-color: transparent;
}
